@use "../abstracts/" as a;

:root {
  // Default font size to 10px

  font-size: 62.5%;

  // COLORS

  --color-white: white;

  --color-warning: #ff3f34;
  --color-operator: #ffff66;
  --color-number: lightyellow;
  --color-equals: lightblue;
  --color-other-button: #f38630;

  --color-calculator: #666;
  --color-brand: #999;
  --color-solar: brown;
  --color-display: white;

  --color-shading: 3px solid rgba(black, 0.3);

  // TYPOGRAPHY

  --font-buttons: "Poppins", sans-serif;
  --font-display: "Roboto Mono", monospace;
}

* {
  //   border: 1px solid red;
}

body {
  font-family: var(--font-buttons);
  @include a.bodyCenter();
}

.title {
  font-size: 3rem;
}

.twitlink {
  &:link,
  &:visited {
    color: hsl(203, 89%, 53%);
    &:hover {
      text-decoration: underline;
    }
  }
}
.odin {
  &:link,
  &:visited {
    color: hsl(36, 57%, 53%);
    &:hover {
      text-decoration: underline;
    }
  }
}

.calculator {
  width: 40rem;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--color-calculator);
  border-right: 5px solid rgba(black, 0.3);
  border-bottom: 5px solid rgba(black, 0.3);

  box-shadow: 0.5rem 0.5rem 1.5rem rgba(black, 0.5);

  &__display {
    font-family: var(--font-display);
    width: 100%;
    height: 8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: rgba(75, 148, 163, 0.45);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border-top: 3px solid rgba(black, 0.3);
    border-left: 3px solid rgba(black, 0.3);
    display: grid;
    grid-template-rows: 33% 66%;

    &-top {
      font-size: 1.2rem;
    }
    &-bottom {
      font-size: 4rem;
      text-align: right;
      overflow: hidden;
    }
  }

  &__solar {
    height: 4rem;
    margin-top: 0.8rem;
    @include a.flex(0, 0, 0);
    margin-bottom: 1.5rem;

    &-panel {
      @include a.flex(0, 0, 0);
      border-radius: 0.8rem;
      overflow: hidden;

      &-part {
        height: 4rem;
        width: 4rem;
        background-color: var(--color-solar);
        border-top: 3px solid rgba(black, 0.3);
        &:first-child {
          border-left: 3px solid rgba(black, 0.3);
        }
        &:not(:last-child) {
          border-right: 1px solid #ddd;
        }
      }
    }
  }

  &__brand {
    font-size: 3rem;
    margin-right: auto;
    color: var(--color-brand);
  }

  &__keypad {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "AC AC del perc"
      "sqrd sqrt pi div"
      "seven eight nine mult"
      "four five six min"
      "one two three plus"
      "zero dec equal equal";
  }
}

.digit {
  background-color: var(--color-number);
}

.operator {
  background-color: var(--color-operator);
}

.btn {
  padding: 1rem;
  display: block;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 3rem;

  border-bottom: 3px solid rgba(black, 0.3);
  border-right: 3px solid rgba(black, 0.3);

  &:active {
    border-top: 3px solid rgba(black, 0.3);
    border-left: 3px solid rgba(black, 0.3);
    border-bottom: none;
    border-right: none;
  }

  &__dec,
  &__perc,
  &__sqrd,
  &__sqrt,
  &__pi {
    background-color: var(--color-other-button);
  }

  &__ac,
  &__del {
    background-color: var(--color-warning);
    color: var(--color-white);
  }

  &__ac {
    grid-area: AC;
  }
  &__del {
    grid-area: del;
  }
  &__sqrd {
    grid-area: sqrd;
  }
  &__sqrt {
    grid-area: sqrt;
  }
  &__pi {
    grid-area: pi;
  }
  &__perc {
    grid-area: perc;
  }
  &__div {
    grid-area: div;
  }
  &__seven {
    grid-area: seven;
  }
  &__eight {
    grid-area: eight;
  }
  &__nine {
    grid-area: nine;
  }
  &__mult {
    grid-area: mult;
  }
  &__four {
    grid-area: four;
  }
  &__five {
    grid-area: five;
  }
  &__six {
    grid-area: six;
  }
  &__min {
    grid-area: min;
  }
  &__one {
    grid-area: one;
  }
  &__two {
    grid-area: two;
  }

  &__three {
    grid-area: three;
  }

  &__plus {
    grid-area: plus;
  }

  &__zero {
    grid-area: zero;
  }

  &__dec {
    grid-area: dec;
  }

  &__equal {
    grid-area: equal;
    background: var(--color-equals);
  }
}
